<!DOCTYPE html>
<html>

<head>
  <title>杭宸设计汇总</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9075504578216275",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <div class="container">
    
  <h1>慕辰效果图</h1>
  <% @mc.each do |m| %>
    <h2><a href='<%=m.url %>' target="blank"> <%=m.name %> </a></h2>
  <% end %>
  <hr>
  <h1>千年舟</h1>
  <% @qnz.each do |m| %>
    <h2><a href='<%=m.url %>' target="blank"> <%=m.name %> </a></h2>
  <% end %>
  <hr>
  <h1>百得胜</h1>
  <% @bds.each do |m| %>
    <h2><a href='<%=m.url %>' target="blank"> <%=m.name %> </a></h2>
  <% end %>
  </div>
</body>
</html>