<!DOCTYPE html>
<html>

<head>
  <title>Password in password</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9075504578216275",
      enable_page_level_ads: true
    });
  </script>
</head>

<body>
  <div class="container">
    <div class="masthead">
      <%= render 'layouts/header' %>
    </div>
    <!-- Jumbotron -->
    <div class="jumbotron">
      <h1>选择忘记!</h1>
      <p class="lead">生活中越来越多的密码，设置的太简单，害怕被破解，设置的太复杂，自己都忘记了，通过我们使用一个简单的有意义的数字，来记住一个复杂的，无规律的密码.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
    </div>
    <%= yield %>
      <!-- Site footer -->
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>